---
import BaseLayout from "../../layouts/BaseLayout.astro";
import tutorials from "../../data/tutorials.js";
---

<BaseLayout>
  <h1 class="text-lg sm:text-3xl font-bold mb-4 mt-6 sm:mt-12 text-custom-accent ">
    Tutorials
  </h1>

  <section class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 gap-6 py-10">
    {tutorials.map((item) => (
      <a href={`/${item.slug}`} class="block">
        <div class="bg-custom-accent rounded-2xl shadow-md overflow-hidden transform transition-all duration-300 hover:shadow-xl hover:scale-105 border border-custom cursor-pointer">
          <div class="aspect-square p-3">
            <img
              src={item.image}
              alt={item.alt}
              class="w-full h-full object-cover rounded-lg"
              loading="lazy"
            />
          </div>
          <div class="p-3 text-center">
            <h3 class="text-sm sm:text-base font-semibold text-custom-primary dark:text-white">
              {item.title}
            </h3>
          </div>
        </div>
      </a>
    ))}
  </section>
</BaseLayout>
